#nav{
    width:90%;
    margin: auto;
    display:flex;
    justify-content: space-between;
    margin-bottom: 10px;
}
.abd:hover{
    cursor: pointer;
}
#img:hover{
    cursor: pointer;
}
#nav2{
    width:30%;
    display:flex;
    justify-content: space-between;
    height:15%

}
#img{
    text-align: end;
}

#nav2>div{
    margin-right: -20px;
}
#search>input{
    width:165%;
    padding: 10px;
    /* margin-top: 5px; */

}
    
#main{
    width: 80%;
    margin: auto;
    display:flex;
  
    gap:80px
}

#cont1{
  
    width:55%;
    margin-top: 75px;
 
   
}
#cont1>h3{
    font-family: Futura, Arial;
    font-size: 20px;
    font-weight: 400;
    line-height:22px;
    color: rgb(55, 55, 55);
}

#sum>div>h3{
    font-family: Futura, Arial;
    font-size: 16px;
    font-weight: 400;
    line-height:22px;
    color: rgb(55, 55, 55);
}
#sum2{
    display:flex;
    justify-content: space-between;
}
#mass>p{
    font-family: Futura, Arial;
    font-size: 12px;
    font-weight: 400;
    line-height:normal;
    color: rgb(55, 55, 55);
}
#sum5>p{
    margin-top: 25px;
    font-family: Futura, Arial;
    font-size: 12px;
    font-weight: 600;
    line-height:normal;
    color: rgb(55, 55, 55);
}
#sum5{
    display:flex;
    justify-content: space-between;
}
#sum>button{
    width:92%;
    margin: auto;
    text-align: center;
    padding: 10px;
    background-color: rgb(16, 112, 101);
    color: white;
    
    
}
#class>p{
    font-family: Futura, Arial;
    font-size: 14px;
    font-weight: 600;
    line-height:normal;
    color: rgb(94, 94, 94);
    margin-top: 5px;
}
#sum{
    background-color: rgb(245, 245, 245);
    height: 280px;
    padding-top: 5px;
    padding-left: 25px;
}
#cont{
    width:100%;
    
}
#cont>div>div>div>img{
    width:25%
}
#sum5>p~p{
    margin-right:35px ;
    font-family: Futura, Arial;
    font-size: 16px;
    font-weight: 600;
    line-height:normal;
    color: rgb(55, 55, 55);
}
.image{
    display: flex;
    justify-content: space-between;
}
.image>h3{
   
   
    font-family: Futura, Arial;
    font-size: 20px;
    font-weight: 400;
    line-height:30.8px;
    color: rgb(55, 55, 55);
}
.main>h3{
    font-family: Futura, Arial;
    font-size: 20px;
    font-weight: 400;
    line-height:30.8px;
    color: rgb(55, 55, 55);
}

.image>button{
    background-color: white;
    border: 1px white;
    font-family: Futura, Arial;
    font-size: 14px;
    font-weight: 400;
    line-height:normal;
    color: rgb(94, 94, 94);
}
.image>button:hover{
    cursor: pointer;
}
.imgp{
    width:100%;
    
    display: flex;
    justify-content: space-between;
}
.four{
   width: 100%;
    
    display: flex;
    justify-content: space-between;
    margin: auto;
   
}
.four>p:nth-child(1){
    width:40%;
    margin-left: 50px;
    font-family: Futura, Arial;
    font-size: 14px;
    font-weight: 400;
    line-height:18px;
    color: rgb(102, 102, 102);
    
   
}
.four>p:nth-child(2){
    font-family: Futura, Arial;
    font-size: 14px;
    font-weight: 400;
    line-height:18px;
    color: rgb(102, 102, 102);
    
   
}

.five{
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin: auto;
}
.five>p:nth-child(1){
    width:40%;
    margin-left: 50px;
    font-family: Futura, Arial;
    font-size: 14px;
    font-weight: 600;
    line-height:38px;
    color: rgb(94, 94, 94);
    
   
}
.five>p:nth-child(2){
    
    
    font-family: Futura, Arial;
    font-size: 14px;
    font-weight: 600;
    line-height:35px;
    color: rgb(55, 55, 55);
    
   
}
.main5{
    margin-right: 35px;
}
.main>h1~hr{
width:100%;
margin-left: 0px;

}
.main>h1{
font-family: "Commuter Sans", Verdana;
    font-size: 24px;
    font-weight: 600;
    line-height:40px;
    color: rgb(55, 55, 55);
}
.three>hr{
margin-left: 50px;
color: rgb(0, 31, 73);
}

#foot1{
    width:100%;
    margin: auto;
    background-color: rgb(235, 237, 243);
    padding: 15px 0px 15px 0px;
    margin-top: 15px;
}
#foot1>div{
    width:48%;
    margin: auto;
    display: flex;
    justify-content: space-evenly;

}
#foot1>div>input{
    width:35%;
    padding:5px 10px 5px 0px;
    height:20px;
    margin-top: 8px;

}
#foot1>div>p{
    font-family: Futura, Arial;
    font-size: 14px;
    font-weight: 400;
   line-height: normal;
    color: rgb(0, 31, 73);

}
#foot1>div>button{
    padding:0px 15px 0px 10px;
    background-color: rgb(0, 31, 73);
    height:33px;
    margin-top: 8px;
    margin-left: -55px;
}
#foot1>div>button:hover{
    cursor: pointer;
}
footer{display: grid;
    gap:10px;
    grid-template-columns: repeat(6,1fr);
    width: 90%;
    margin-left: 100px;
    margin-right: 100px;
    font-family: "TT_Norms_Pro",-apple-system,BlinkMacSystemFont,"Helvetica Neue","Segoe UI",Roboto,Oxygen-Sans,"Fira Sans","Droid Sans",Ubuntu,Cantarell,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
}


footer ul li{
    list-style-type: none;
    margin-left: -40px; 
    line-height: 40px;
}


footer a,footer h3{
    color:rgb(0, 31, 73);
    line-height: 50px;
}


footer ul li:hover{
    text-decoration: underline;
    text-underline-offset: 4px;
}

footer a:hover{
color: #08cf65
}

footer a{
    text-decoration: none;
    font-size: 16px;
    line-height: 25px;
}

.footer_div{
    background-color:rgb(255, 255, 255)  ;
    width: 100%;
}

.last_div_sh{
    width: 90%;
    margin: auto;
    display: flex;
}

.last_div_sh>div{
display:  flex;
width: 50%;
justify-content:center;}

.last_div_sh img{
height: 40%;
background-color: white;
padding: 1px;
border-radius: 10px;
margin-left: 5px;
}

.sk_polocy{
text-align: center;
padding-bottom: 30px;
line-height: 5px;
color: rgb(0, 31, 73);
width: 80%;
margin: auto;
}

.sh_logo_img img{
background-color: white;
padding: 1px;
border-radius: 50%;
align-items: center;
}
.sh_logo_img img:hover{
background-color: #4aff9e;
cursor: pointer;
}

/* .sh_logo_img{padding: 50px;} */


/* .sh_store_img,.sh_logo_img{display: flex;
            width: 50%;
            padding-bottom: 15px;
            justify-content: center;
        }
.sh_store_img img{width: 22%;
                margin-left: 2%;
            align-items: center;}

.sh_logo_img img{width: 10%;
                border-radius: 80%;
                margin-left: 2%;
                text-align: center;
                background-color: white;}
.sh_logo_img img:hover{background-color:green;
                    cursor: pointer;}
.last_div_sh{display: flex;
            width: 100%;
            margin: auto;
            padding-bottom: 50px;} 





/*----------- mid screen --------------------------------------------*/
@media(min-width: 600px) and (max-width: 1200px) {
    footer{
    grid-template-columns: repeat(3,1fr);
    }

    footer{
    width: 70%;
    }

    .last_div_sh{
    flex-direction: column;
    }

    .last_div_sh img{height:50px;
    padding: 1px;
    margin-top: 10px;
    }

    .last_div_sh>div{margin: auto;
    }
    
    .sk_polocy{line-height: 20px;}
    

}




/*---- small screen -------------------------------------------*/
@media(min-width: 200px) and (max-width: 599px) {
    footer{grid-template-columns: repeat(1,1fr);}
    

    footer ul li{display: none;
    }

    footer h3{line-height: 10px;
        text-align: left;
        margin-left: -50px;
        }
    footer{width: 40%;}
    .last_div_sh{flex-direction: column;}
    .last_div_sh img{height:30px;
    padding: 1px;
    margin-top: 10px;}
    .last_div_sh>div{margin: auto;} 
    .sk_polocy{display: none;}
    .last_div_sh{padding-bottom: 20px;}

}