*{
    margin:0px;
    padding:0px
}
#nav{
    width:90%;
    margin: auto;
    display:flex;
    justify-content: space-between;
    margin-bottom: 10px;
    margin-top: 10px;
}
#nav2{
    width:30%;
    display:flex;
    justify-content: space-between;
    height:15%

}
#img{
    text-align: end;
}

#nav2>div{
    margin-right: -20px;
}
#search>input{
    width:150%;
    padding: 10px;
    /* margin-top: 5px; */

}
#drop{
width:100%;
margin: auto;
background-color: rgb(235, 237, 243);
padding: 15px 0px 15px 0px;
}
#drop>div{
width:55%;
margin: auto;
display:flex;
justify-content: space-evenly;
}
#img:hover{
    cursor: pointer;
}
#drop>div>p{
font-family: Futura, Arial;
    font-size: 12px;
    font-weight: 400;
   line-height:18px;
    color: rgb(55, 55, 55);
}
#drop>div>p:hover{
    cursor: pointer;
    background-color: white;
    padding: 2px 10px 0px 10px;
   }
#main{
    margin:auto;
    width:75%;
    display:flex;
    justify-content: space-evenly;
}
#form>h6{
    font-family: Futura, Arial;
    font-size: 16px;
    font-weight: 400;
    line-height: 22px;
    color: rgb(0, 31, 73);
    padding:15px 0px 10px 0px
}
#form>p{
    font-family: Futura;
    font-size: 14px;
    font-weight: 400;
    line-height: 22px;
    color: rgb(2, 31, 73);
   padding:0px 0px 10px 0px
}

input{
    width:95%;
    padding:15px 0px 15px 0px;
    font-size: 16px;
    color:rgb(136, 130, 130);
    padding-left: 10px;
}
select{
    width:40%;
    padding:15px 0px 15px 0px;
    color:rgb(136, 130, 130);
}
#main2{
    width:40%;
    margin-top: 70px;
}
#main1{
    width:48%
}
#main2>button{
    width:75%;
    padding:15px 0px 15px 0px;
    background-color:rgb(0, 31, 73);
    font-family: Futura, Arial;
    font-size: 14px;
    font-weight: 400;
    line-height: 18px;
    color: rgb(255, 255, 255);
}

#main2>p{
    font-family: Futura, Arial;
    font-size: 20px;
    font-weight: 600;
    line-height: 22px;
    color: rgb(0, 31, 73);
    padding:20px 0px 15px 0px;
   
}
#main2>div{
    display:flex;
    border:1px solid rgb(181, 173, 173);
    width:70%;
   margin-top: 15px;
   background-color: rgb(247, 247, 247);
   padding:10px 10px 10px 10px;

}
#main2>div>div>h4{
    font-family: "Commuter Sans", Verdana;
    font-size: 16px;
    font-weight: 100;
    line-height: 22px;
    color: rgb(0, 31, 73);
  
}
#main2>div>div>p{
    font-family: "Commuter Sans", Verdana;
    font-size: 13px;
    font-weight: 400;
    line-height: 18px;
    color: rgb(0, 31, 73)
}
#main1>p{
    font-family:  Futura, Arial;
    font-size: 24px;
    font-weight: 600;
    line-height: 28px;
    color: rgb(0, 31, 73);
    margin: 20px 0px 15px 0px
}
#form>button{
    width:97%;
    padding:15px 0px 15px 0px;
    background-color:rgb(0, 31, 73);
    font-family: Futura, Arial;
    font-size: 14px;
    font-weight: 400;
    line-height: 18px;
    color: rgb(255, 255, 255);
    margin-top: 25px;
    margin-bottom: 25px;
}
#main2>button:hover{
    cursor: pointer;
    background-color: rgb(124, 141, 164);
}
#form>button:hover{
    cursor: pointer;
    background-color: rgb(124, 141, 164);
}


#foot1{
    width:100%;
    margin: auto;
    background-color: rgb(235, 237, 243);
    padding: 15px 0px 15px 0px;
    margin-top: 25px;
}
#foot1>div{
    width:48%;
    margin: auto;
    display: flex;
    justify-content: space-evenly;

}
#foot1>div>input{
    width:35%;
    padding:5px 10px 5px 0px;
    height:20px;
    margin-top: 4px;

}
#foot1>div>p{
    font-family: Futura, Arial;
    font-size: 14px;
    font-weight: 400;
   line-height: normal;
    color: rgb(0, 31, 73);
    margin-top: 8px;

}
#foot1>div>button{
    padding:0px 15px 0px 10px;
    background-color: rgb(0, 31, 73);
    height:33px;
    margin-top: 4px;
    margin-left: -55px;
}
#foot1>div>button:hover{
    cursor: pointer;
}
footer{display: grid;
    gap:10px;
    grid-template-columns: repeat(6,1fr);
    width: 90%;
    margin-left: 100px;
    margin-right: 100px;
    font-family: "TT_Norms_Pro",-apple-system,BlinkMacSystemFont,"Helvetica Neue","Segoe UI",Roboto,Oxygen-Sans,"Fira Sans","Droid Sans",Ubuntu,Cantarell,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
}


footer ul li{
    list-style-type: none;
    /* margin-left: -10px;  */
    line-height: 40px;
}


footer a,footer h3{
    color:rgb(0, 31, 73);
    line-height: 50px;
}


footer ul li:hover{
    text-decoration: underline;
    text-underline-offset: 4px;
}

footer a:hover{
color: #08cf65
}

footer a{
    text-decoration: none;
    font-size: 16px;
    line-height: 25px;
}

.footer_div{
    background-color:rgb(255, 255, 255)  ;
    width: 100%;
}

.last_div_sh{
    width: 90%;
    margin: auto;
    display: flex;
}

.last_div_sh>div{
display:  flex;
width: 50%;
justify-content:center;}

.last_div_sh img{
height: 40%;
background-color: white;
padding: 1px;
border-radius: 10px;
margin-left: 5px;
}

.sk_polocy{
text-align: center;
padding-bottom: 30px;
line-height: 25px;
color: rgb(0, 31, 73);
width: 80%;
margin: auto;

}

.sh_logo_img img{
background-color: white;
padding: 1px;
border-radius: 50%;
align-items: center;
}
.sh_logo_img img:hover{
background-color: #4aff9e;
cursor: pointer;
}

/* .sh_logo_img{padding: 50px;} */


/* .sh_store_img,.sh_logo_img{display: flex;
            width: 50%;
            padding-bottom: 15px;
            justify-content: center;
        }
.sh_store_img img{width: 22%;
                margin-left: 2%;
            align-items: center;}

.sh_logo_img img{width: 10%;
                border-radius: 80%;
                margin-left: 2%;
                text-align: center;
                background-color: white;}
.sh_logo_img img:hover{background-color:green;
                    cursor: pointer;}
.last_div_sh{display: flex;
            width: 100%;
            margin: auto;
            padding-bottom: 50px;} 





/*----------- mid screen --------------------------------------------*/
@media(min-width: 600px) and (max-width: 1200px) {
    footer{
    grid-template-columns: repeat(3,1fr);
    }

    footer{
    width: 70%;
    }

    .last_div_sh{
    flex-direction: column;
    }

    .last_div_sh img{height:50px;
    padding: 1px;
    margin-top: 10px;
    }

    .last_div_sh>div{margin: auto;
    }
    
    .sk_polocy{line-height: 20px;}
    

}